@use"../utilities.scss/variables";
@import"../utilities.scss/mixins.scss";

/*-------------------------------Fondo de Pantalla--------------------*/
body {
    background: #5aec55;
    background: linear-gradient(90deg, rgba(159, 255, 156, 1) 0%, rgba(0, 159, 131, 1) 55%);
}

/*-------------------------------Titulos--------------------*/
h1 {
    text-align: center;
    margin: 50px;
}

h2 {
    text-align: center;
    margin: 30px;

}

h4 {
    text-align: center;

}


.parrafo_ser_izquierda h4 {
    margin-top: 90px;
}

.parrafo_ser_derecha {
    margin-top: 90px;
}

/*---------------- Imagenes --------------*/


.imagen-sobrenosotros img {
    width: variables.$tamaño_imagen;
    border: 1px solid variables.$color;
    border-radius: 10px;
}

.imagen-ubicacion {
    display: flex;

    img {
        width: 400px;
        border: 1px solid variables.$color;
        border-radius: 10px;
        margin-right: 50px;

    }
}

.imagen_izquierda {
    display: flex;
    flex-direction: row;
    margin: 70px;

    img {
        height: variables.$tamaño_img_ser;
        margin-right: 35px;
        border: 3px solid white;
        border-radius: 10px;

    }
}

.imagen_derecha {
    display: flex;
    flex-direction: row-reverse;
    margin: 70px;

    img {
        height: variables.$tamaño_img_ser;
        margin-left: 35px;
        border: 3px solid white;
        border-radius: 10px;

    }
}

.servicios_castel {
    margin: 100px;
    font-size: 25px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.redessociales {
    @include redes (center);


    img {
        height: 80px;
    }
}


/*---------------- Parrafo --------------*/

.parrafo_sobrenosotros {
    display: flex;
    font-size: 15px;
    line-height: 2.00;

}

.parrafo_inicial {
    font-size: variables.$tamaño_parrafos;
    display: flex;
    margin: 38px;
    line-height: 2.00;


}

.derechos {
    @include derechos(center, center, 50px);
}

.contenido_sobrenosotros {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
    max-width: 1200px;
}

.parrafo_ser_derecha p {
    font-size: variables.$tamaño_parrafos;
}

.parrafo_ser_izquierda p {
    font-size: variables.$tamaño_parrafos;

}



.reserva {
    display: flex;
    flex-direction: row;

    img {
        height: 450px;
        margin: 80px;
        border: 3px solid white;
        border-radius: 10px;
    }

}

.contenedor_formulario {
    width: 50%;
    padding: 38px;
}

/*---------------- Adaptacion a distintas pantallas --------------*/
/*---------------- Adaptacion a distintas pantallas --------------*/
/*---------------- Adaptacion a distintas pantallas --------------*/
/*---------------- Adaptacion a distintas pantallas --------------*/
@media (max-width:300px) {


    /*---------------- Titulos --------------*/

    h1 {
        font-size: 15px;
        margin: 25px;
    }

    h2 {
        font-size: 10px;
    }

    h4 {
        font-size: 8px;
    }

    body {
        background: #5aec55;
        background: linear-gradient(90deg, rgba(159, 255, 156, 1) 0%, rgba(0, 159, 131, 1) 55%);
    }



    .contenido_sobrenosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        max-width: 100px;

        .imagen-sobrenosotros img {
            width: 175px;
            border: 1px solid white;
        }


    }

    /*---------------- Parrafos --------------*/


    .parrafo_sobrenosotros {
        display: flex;
        width: 190px;
        font-size: 9px;
        margin: 10px;

    }

    .parrafo_inicial {
        font-size: 8px;
        display: flex;
        margin: 20px;
        line-height: 2.00;

    }


    .parrafo_ser_derecha {
        margin-top: 25px;

        p {
            font-size: 8px;


        }
    }

    .parrafo_ser_izquierda {
        margin-top: 25px;

        p {
            font-size: 8px;
            margin-top: 25px;

        }

    }

    .parrafo_ser_izquierda h4 {
        margin-top: 5px;
    }

    .servicios_castel {
        margin: 25px;
        font-size: 10px;
    }

    .derechos p {
        font-size: 9px;
    }

    /*---------------- Imagenes --------------*/


    .imagen_izquierda {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px;

        img {
            height: 100px;
            margin-right: 15px;
            border: 2px solid white;
            border-radius: 10px;

        }
    }

    .imagen_derecha {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px;

        img {
            height: 100px;
            margin-left: 15px;
            border: 2px solid white;
            border-radius: 10px;

        }
    }

    .imagen-ubicacion {
        display: flex;
        flex-direction: column;

        img {
            width: 180px;
            border: 1px solid variables.$color;
            margin: 10px;


        }
    }


    .reserva {
        display: flex;
        flex-direction: row;

        img {
            height: 80px;
            margin: 18px;
            border: 1px solid white;
            border-radius: 4px;
        }

    }

    .redessociales img {
        height: 25px;
    }

}

@media (min-width: 301px) and (max-width: 749px) {

    body {
        background: #5aec55;
        background: linear-gradient(90deg, rgba(159, 255, 156, 1) 0%, rgba(0, 159, 131, 1) 55%);

    }

    /*---------------- Titulos --------------*/

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }


    /*---------------- Parrafos --------------*/


    .servicios_castel {
        margin: 30px;
        font-size: 13px;
    }


    .contenido_sobrenosotros {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        max-width: 100px;

        .imagen-sobrenosotros img {
            width: 350px;
            border: 1px solid white;

        }
    }

    .parrafo_sobrenosotros {
        display: flex;

        p {
            font-size: 15px;
            margin: 10px;
        }

    }

    .parrafo_inicial {
        font-size: 10px;
        display: flex;
        margin: 38px;
        line-height: 2.00;

    }


    .parrafo_ser_derecha p {
        font-size: 10px;

    }

    .parrafo_ser_izquierda p {
        font-size: 10px;

    }

    .parrafo_ser_izquierda h4 {
        margin-top: 5px;
    }

    /*---------------- Imagenes --------------*/

    .imagen_izquierda {
        display: flex;
        flex-direction: column;
        margin: 35px;

        img {
            height: 150px;
            margin-right: 15px;
            border: 2px solid white;
            border-radius: 10px;

        }
    }

    .imagen_derecha {
        display: flex;
        flex-direction: column;
        margin: 35px;

        img {
            height: 150px;
            margin-left: 15px;
            border: 2px solid white;
            border-radius: 10px;

        }
    }

    .imagen-ubicacion {
        display: flex;
        flex-direction: column;

        img {
            width: 300px;
            border: 1px solid white;
            border-radius: 10px;
            margin-right: 50px;
        }
    }

    .redessociales img {
        height: 40px;
    }

    .reserva img {
        height: 200px;
        margin: 60px;
        border: 2px solid white;
        border-radius: 8px;
    }



}

@media (min-width: 750px) and (max-width: 1024px) {

    body {
        background: #5aec55;
        background: linear-gradient(90deg, rgba(159, 255, 156, 1) 0%, rgba(0, 159, 131, 1) 55%);

    }

    /*----------------Textos y titulos --------------------------*/

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 25px;
        margin: 20px;
    }

    p {
        font-size: 20px;
        margin: revert;
    }

    /*----------------Imagenes --------------------------*/

    .redessociales img {
        height: 40px;
    }

    .imagen_izquierda {
        display: flex;
        flex-direction: column;
        margin: 35px;

        img {
            height: 150px;
            margin-right: 15px;
            border: 1px solid white;
            border-radius: 10px;

        }
    }

    .imagen_derecha {
        display: flex;
        flex-direction: column;
        margin: 35px;

        img {
            height: 150px;
            margin-left: 15px;
            border: 1px solid white;
            border-radius: 10px;

        }
    }

    .reserva img {
        height: 230px;
        margin: 80px;
        border: 2px solid white;
        border-radius: 10px;
    }

    .imagen-ubicacion {
        display: flex;
        flex-direction: column;

        img {
            width: 320px;
            border: 1px solid white;
            border-radius: 10px;
            margin-right: 50px;
        }
    }

}