$color: white;
$tamaño_imagen:400px;
$tamaño_img_ser:400px;
$tamaño_parrafos:20px;


/*---------------- Variables de adaptaciones --------------*/

$tamaño_chico:400px;
$tamaño_img_ser_chico:400px;
$tamaño_parrafos_chico:20px