/* --------------- Fondo de pantalla---------------*/

body {
    background: #9FFF9C;
    background: linear-gradient(90deg, rgba(159, 255, 156, 1) 0%, rgba(0, 159, 131, 1) 55%);
}

/*------------------Titulos------------------------*/

h1 {
    text-align: center;
    margin: 50px;
}

h2 {
    text-align: center;
    margin: 30px;

}

h4 {
    text-align: center;
}

.container-fluid {
    font-size: 20px;
    margin: 5px;
}


/*---------------- Parrafos ----------------------*/

.parrafo_inicial {
    display: flex;
    margin: 38px;

}

.derechos {

    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;

}

.contenido_sobrenosotros {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 60px;


}


/*------------- Fotos ----------------------------*/
.cuadricula_fotos {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.imagen-sobrenosotros img {
    width: 500px;
    border: 1px solid black;


}

.cuadricula_fotos img {
    height: 180px;
    max-width: 100%;
    border: 1px solid black;

}

/*---------------- Adaptacion a distintas pantallas --------------*/
@media (min-width: 430px) and (max-width: 768px) {

    body {
        background: green;
    }

    .cuadricula_fotos {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
        
    }


    .imagen-sobrenosotros img {
        width: 200px;
        border: 1px solid black;

    }

    .parrafo_sobrenosotros {
        font-size: 15px;

    }



}